* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #525252;
}

a {
  color: #FE5210;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #FFA158;
  }

  &:visited {
    color: #FE7110;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #333333;
}

p {
  margin-bottom: 1em;
}

code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #333333;
}

pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #ffffff;
  word-wrap: normal;
  background-color: #333333;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;

  > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

.highlight {
  margin-bottom: 1rem;

  pre {
    margin-bottom: 0;
    word-break: normal;
  }
}

.highlight pre,
pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
}

pre code,
pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;

  &:before,
  &:after {
    content: normal;
  }
}

ul,
ol {
  margin-top: 0;
}

blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
  }
}

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }

  dd {
    padding: 0;
    margin-bottom: 1rem;
  }
}

hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

.content {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

.masthead {
  background: #333333;
  padding: 1em;
}

.masthead a {
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
}

.colophon {
  text-align: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}

.section {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 65px 0;
}

.section-title, .section-description {
  text-align: center;
}

.section-title {
  text-align: center;
  font-size: 31px;
  margin-bottom: 0;
  margin-top: 0;
}

.section-description {
  font-size: 14px;
  color: #919191;
  margin-bottom: 4em;
}

.hero {
  background: #fde965;
}

.hero-heading {
  font-size: 38px;
}

.alt {
  background: rgba(#fce965, 1);
}

.yellow {
  color: #fde965;
}
